
.flex-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
}




h1 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:3rem;
    display: inline;
    margin-bottom: 0px;
}

.grid {
    width: 7.5px;
    height: 7.5px;
    border: solid rgba(65, 73, 83, 0.109) .001mm;
    background-color: rgb(46, 52, 61);
}
.grid:hover {
    background-color: rgb(174, 174, 174);
    transition: 50ms;
}

#clickAfter {
    background-color: rgb(255, 255, 255);
    transition: 500ms;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    justify-content: center;
    height: auto;
    container: secondContainer / block-size;
}
.gridColumnContainers {
    display: flex;
    flex-direction: row;
}

body {
    container: body / size;
}

@container (max-height: 900px){
    .grid {
     width: 7px;
     height: 7px;
    }
 }
 @container (max-height: 800px){
    .grid {
     width: 6px;
     height: 6px;
    }
 }
 @container (max-height: 700px){
    .grid {
     width: 5px;
     height: 5px;
    }

 }
 .ui-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
 }
 input {
    color: grey;
    font-size: 20px;
    border-radius: 5px;
    border: 1.5px solid;
    text-align: center;
    padding: 5px;
 }
 .select-txt {
    font-size: small;
    color: rgb(84, 84, 84);
    font-family: 'Courier New', Courier, monospace;
 }